.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  gap: 3rem;
}

.contact-header {
  width: 60%;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.contact {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--primary);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  color: var(--text);
}

@media screen and (max-width: 900px) {
  .contact-container {
    width: 100%;
  }

  .contact-header {
    width: 90%;
  }

  .contacts-container {
    width: 80%;
  }
}