.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

.header-copy {
  text-align: center;
  background-color: var(--primary);
  border-inline: 5px solid var(--accent);
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  color: var(--text);
  font-weight: 600;
  padding: 1rem;
}

.blocks-container {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  gap: 2rem;
}

.blocks-container .block-container:nth-child(1) {
  flex-direction: column-reverse;
  .block-header p {
    text-align: right;
    text-decoration: underline;
  }
}

.blocks-container .block-container:nth-child(2) {
  .block-content {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    align-items: center;
  }
}

.block-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--accent);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}

.block-header p {
  font-size: 1.2rem;
  font-weight: 600;
}

.block-content p {
  font-size: 0.9em;
}

.block-header p,
.block-content p {
  color: var(--text);
}

@media screen and (max-width: 800px) {
  .home-container {
    width: 90%;
  }

  .blocks-container {
    grid-template-columns: 80%;
  }
}